AZURE_SUBSCRIPTION_ID=<azure-subscription-id>
AZURE_TENANT_ID=<azure-tenant-id>
VAULT_TOKEN=<vault-root-token>
VAULT_RECOVERY_KEY=<vault-recovery-key>
VAULT_PR_BOOTSTRAP_TOKEN=<vault-pr-bootstrap-root-token>
VAULT_PR_INITIAL_UNSEAL_KEY=<vault-pr-initial-unseal-key>
VAULT_PR_TESTER_PASSWORD=<vault-pr-tester-password>
